
  <div class="container-fluid login-page bg" style="background-image: url('./assets/images/hero-bg.jpg')">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-4 box">
        <div class="">
          <!-- <div class="text-center w-75 h-75 m-auto">
            <div class="auth-logo">
              <a href="index.html" class="logo logo-light text-center">
                <span class="logo-lg">
                  <img
                    src="http://innovasas.xsquarestaging.in/img/logo_INNOVASAS_final.png"
                    alt=""
                    height="60"
                    width="60"
                  />
                </span>
              </a> 
            </div>
          </div> -->
          <div class="col-md-12 mt-4" *ngFor="let box of this.inputInfo">
            <label class="label" *ngIf="box.type == 'text2'">{{
              box.label | capitalization
            }}</label>
            <app-text-box
              [inputInfo]="box"
              [changeFlag]="this.changeFlag"
              *ngIf="box.type == 'text2'"
              (updateData)="updateData($event, box.modelName)"
              (preSubmit)="preSubmit()"
              (submit)="onSubmit()"
            ></app-text-box>
            <div class="d-flex">
              <app-check-box
                [inputInfo]="box"
                [changeFlag]="changeFlag"
                (updateData)="updateData($event, box.modelName)"
                *ngIf="box.type == 'checkBox'"
                (preSubmit)="preSubmit()"
                (submit)="onSubmit()"
              ></app-check-box>
              <label class="label ml-2 pt-1" *ngIf="box.type == 'checkBox'"
                >Remember Me</label
              >
            </div>
          </div>
  
          <div class="col-md-12 mt-4">
            <app-button
              [label]="'login'"
              [padding]="'5px 40px'"
              [borderRadius]="'0px'"
              [color]="'#fff'"
              [type]="'login'"
              [bgColor]="'#3283F6'"
              (button)="preSubmit()"
              [fontSize]="'14px'"
            >
            </app-button>
            <div class="row">
              <div class="container-fluid my-3">
                <a href="/sign-up">Dont have an account? Sign up here</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>