.login-page {
  height: 100vh;
}

.login-card {
  border: 5px #24d6ff solid;
  box-shadow: 50px 50px 10px #24d6ff;
}
.login-form {
  max-width: 100%;
}

.login-form-margin {
  margin-bottom: 16px;
}
.login-form-button {
  width: 100%;
}
.row {
  margin-left: calc(-16.5 * var(--bs-gutter-x));
}

h3 {
  color: #4a4a4a;
  font-weight: bold;
  font-size: 45px;
  margin-bottom: 1 rem;
  /* font-family: Plus Jakarta Sans; */
}
